// 文字大小
$font_size_h1: 32px;
$font_size_h3: 26px;
$font_size_text: 16px;
// 文字顏色
$font_black: black;
$font_white: white;
$font_gray: gray;
// 背景顏色
$bg_darkgray: darkgray;
$bg_white: white;
$bg_darkblue:#282E34;
// Mask顏色
$mask_white: rgba(255, 255, 255, 0.5);
$mask_black: rgba(0, 0, 0, 0.5);
