@import './variable';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.all {
    width: 100%;
    height: 100%;

    .banner {
        background-image: url('../img/img_parallax.jpg');

        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;


        .mask {
            background-color: $mask_white;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .title {
                padding: 5px;
                display: inline-block;
                background-color: $bg_darkgray;

                h1 {
                    font-size: $font_size_h1;
                    color: $font_white;
                    letter-spacing: 5px;
                    line-height: 40px;
                }
            }
        }
    }

    .demo {
        background-color: $bg_white;
        // height: 30vh;
        padding: 50px 80px;
        text-align: justify;
        color: $font_gray;

        h3 {
            font-size: $font_size_h3;
            letter-spacing: 5px;
            text-align: center;

        }

        p {
            font-size: $font_size_text;
            letter-spacing: 2px;

        }
    }

    .lessHeight {
        background-image: url('../img/img_parallax2.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.65;



        .title {
            font-size: $font_size_h3;
            color: $font_white;
            background-color: transparent;
            letter-spacing: 5px;
        }


    }

    .upNdown {

        position: relative;

        div {
            text-align: justify;
            color: $font_white;
            padding: 50px 80px;
            background-color: $bg_darkblue;
        }
    }

    .camera {
        background: url('../img/img_parallax3.jpg') center / cover no-repeat fixed;

        min-height: 400px;
        opacity: 0.65;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            padding: 15px;
            letter-spacing: 5px;
            font-size: $font_size_h3;
            color: $font_white;
        }
    }

    .scroll {
        position: relative;

        p {
            text-align: justify;
            color: $font_white;
            padding: 50px 80px;
            background-color: $bg_darkblue;
            margin: 0;
        }
    }

    .final {
        background: url('../img/img_parallax.jpg') center / cover no-repeat fixed;
        height: 100vh;

        .mask {
            background-color: $mask_black;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            div{
                color: $font_white;
                font-size: $font_size_h3;
                background-color: $bg_darkgray;
                letter-spacing: 5px;
                padding: 5px;
            }
        }
    }

}