* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}

#all {
    width: 100%;
    height: 100%;
    background-image: url('../img/restaurant.jpg');
    background-position: center;
    background-size: cover;    
    display: flex;

}
#nav {
    width: 200px;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;


}

#nav #logo {
    width: 120px;
    height: 120px;
    background-image: url('../img/avatar.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 60px;
    margin-bottom: 80px;
    margin-top: 80px;
}

#nav .list {
    width: 100%;
}

#nav .list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#nav .list ul li {
    margin: 15px 0;
    width: 100%;

}

#nav .list ul li a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: larger;
    font-weight: 900;
    font-family: '標楷體';
    text-align: center;
    width: 100%;
    padding: 20px 65px;

}

#nav .list ul li a:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

#main {
    width: calc(100% - 200px);
    height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}

#main .outer_box {
    width: 800px;
    height: 650px;
    background-color: white;
    border: 3px solid white;
    display: flex;
}
#main .outer_box .pic1:hover{
    opacity: 1;
    width: 50%;  
    transition: 1s;
}
#main .outer_box .pic2:hover{
    opacity: 1;
    width: 50%;  
    transition: 1s;
}
#main .outer_box .pic3:hover{
    opacity: 1;
    width: 50%;  
    transition: 1s;
}

#main .outer_box .pic1 {
    width: 33%;
    height: 100%;
    background-image: url('../img/burger.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

#main .outer_box .pic2 {
    width: 34%;
    height: 100%;
    background-image: url('../img/bbq.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.5;

}

#main .outer_box .pic3 {
    width: 33%;
    height: 100%;
    background-image: url('../img/chicken.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
@media screen and (max-width: 1280px) {

    #main .outer_box {
        width: 560px;
        height: 450px;
        background-color: white;
        border: 3px solid white;
        display: flex;
        flex-wrap: wrap;
    }

    #main .outer_box .pic1 {
        width: 100%;
        height: 50%;

    }

    #main .outer_box .pic2 {
        width: 50%;
        height: 50%;


    }

    #main .outer_box .pic3 {
        width: 50%;
        height: 50%;

    }
    #main .outer_box .pic1:hover{
        opacity: 1;
        transform: scale(1.1,1.05);
        width: 100%;   
        transition: 1s;
    }
    
    #main .outer_box .pic2:hover{
        opacity: 1;
        transform: scale(1.1,1.05);        
        transition: 1s;
    }
    
    #main .outer_box .pic3:hover{
        opacity: 1;
        transform: scale(1.1,1.05);          
        transition: 1s;
    }
    
}

@media screen and (max-width: 768px) {

    #all {
        display: block;
    }

    #nav {
        width: 100%;
        height: 100px;
        background-color: rgba(211, 211, 211, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px;
    }

    #nav #logo {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }
    #nav .list{
       
    }


    #nav .list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        
    }
    #nav .list ul li{
        width: 15%;
        margin: 0;
        display: flex;
       
        
       
        
    }

    #nav .list ul li a {
        text-decoration: none;
        margin: 0;        
        text-align: center;
        padding: 15px;
        


    }

    #main {
        width: 100%;
        height: calc(100vh - 100px);       


    }

    #main .outer_box {
        width: 80%;
        height: 450px;
        background-color: white;
        border: 3px solid white;
        display: flex;
    }

    #main .outer_box .pic1 {
        width: 100%;
        height: 50%;
    }

    #main .outer_box .pic2 {
        width: 50%;
        height: 50%;

    }

    #main .outer_box .pic3 {
        width: 50%;
        height: 50%;
    }
    
    #main .outer_box .pic1:hover{
        opacity: 1;
        transform: scale(1.02,1.03);
        width: 100%;   
        transition: 1s;
    }
    
    #main .outer_box .pic2:hover{
        opacity: 1;
        transform: scale(1.02,1.03);         
        transition: 1s;
    }
    
    #main .outer_box .pic3:hover{
        opacity: 1;
        transform: scale(1.02,1.03);           
        transition: 1s;
    }
}

@media screen and (max-width: 375px) {

    #nav {
        width: 100%;
        height: 80px;
        background-color: rgba(211, 211, 211, 1);
        display: flex;
        padding: 0 0 0 15px;
        


    }

    #nav #logo {
        width: 60px;
        height: 60px;
        background-image: url('../img/avatar.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 30px;
        order: 1;
        margin-right: 155px;

    }

    #nav .list {
        display: block;
        width: 30px;
        height: 30px;
        background-color:rgba(211, 211, 211, 1);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .ham{
        width: 22px;
        height: 4px;
        background-color: black;
    }
    #nav .list:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
    #nav .list:hover ul{
        background-color: rgba(211, 211, 211, 0.5);
    }
    #nav .list:hover a{
        display: inline-block;
    }

    #nav .list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 62px;
        height: 140px;  
        position: absolute;              
        top: 30px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-items: center;       
        
    }

    #nav .list ul li {
        margin: 0;
        display: flex;        
        justify-content: space-around;
        padding: 0;
        width: 100%;
        
        
    }

    #nav .list ul li a {
        text-decoration: none;
        display: none;   
        padding: 10px;
        width: 100%;
        z-index: 2;


    }

    #main {
        width: 100%;
        height: calc(100vh - 80px);
        background-color: brown;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #main .outer_box {
        width: 100%;
        height: 100%;
        background-color: white;
        border: 3px solid white;
        display: flex;
    }

    #main .outer_box .pic1 {
        width: 100%;
        height: 33%;
        background-image: url('../img/burger.jpg');
        background-position: center;
        background-size: cover;
        
    }

    #main .outer_box .pic2 {
        width: 100%;
        height: 34%;
        background-image: url('../img/bbq.jpg');
        background-position: center;
        background-size: cover;

    }

    #main .outer_box .pic3 {
        width: 100%;
        height: 33%;
        background-image: url('../img/chicken.jpg');
        background-position: center;
        background-size: cover;
    }
    #main .outer_box .pic1:hover{
        opacity: 1;
        transform: scale(1.01,1.01);
        width: 100%;   
        transition: 1s;
    }
    
    #main .outer_box .pic2:hover{
        opacity: 1;
        transform: scale(1.01,1.01);
        width: 100%;         
        transition: 1s;
    }
    
    #main .outer_box .pic3:hover{
        opacity: 1;
        transform: scale(1.01,1.01);
        width: 100%;           
        transition: 1s;
    }
}