

// font-size
$font_size_text: 32px;
$font_size_card_text: 28px;
$font_size_card_title: 40px;
$font_size_title: 53px;
$font_size_nav: 42px;
$font_size_address: 36px;
$font_size_number:53px;
$font_size_copyright:24px;


// font-color
$font_color_black: black;



// font-family

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Gupter|Noto+Sans+TC&display=swap');

    $font_family_title: 'Bebas Neue', cursive;
    $font_family_text: 'Noto Sans TC', sans-serif;
    $font_family_eng: 'Gupter', serif;
    
