@import "./font";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#index,
#about,
#corner,
#product,
#news {
    overflow: hidden;
}

#index {
    width: 100%;
    height: 100vh;
    background-image: url('../img/IMG_5476.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 180px;
        opacity: 1;
        // pointer-events: all;        
        // animation: show;
        // animation-duration: 3s;
        // animation-delay: 1s;
        // animation-timing-function: linear;

        // @keyframes show {
        //     0% {
        //         opacity: 0;
        //         pointer-events: none;
        //     }

        //     100% {
        //         opacity: 1;
        //         transition: 5s;
        //         pointer-events: all;

        //     }
        // }

    }
}

.about_all {
    height: 100vh;
    width: 100%;
    background-color: white;

    .upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 85%;
        padding: 15px;

        nav {

            .list {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: nowrap;
                align-items: center;
                position: relative;
                margin: 10px;

                .logo {

                    // position: absolute;
                    // top: 0;
                    padding: 0;
                    z-index: 10;

                    a {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: center;


                        img {
                            width: 45%;
                            // max-width: 400px;
                            min-width: 150px;

                        }
                    }
                }


                ul {
                    padding: 0px;
                    border: 2px solid pink;


                    li {
                        list-style: none;
                        // margin-top: 25px;
                        padding: 25px;





                        a {
                            text-decoration: none;
                            font-size: $font_size_nav;
                            color: $font_color_black;
                            padding: 10px;
                            font-family: $font_family_title;
                            white-space: nowrap;

                            &:hover {
                                border-bottom: 2px solid gray;
                            }



                        }



                    }

                    .about {
                        margin-top: 20%;

                        & a {
                            border-bottom: 2px solid black;
                        }
                    }
                }

            }
        }

        .content {
            height: 100%;
            max-height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 15px;

            .first {
                margin-bottom: 25px;

                h1 {
                    font-size: $font_size_title;
                    font-family: $font_family_title;
                    margin-bottom: 10px;
                }

                p {
                    font-size: $font_size_text;
                    font-family: $font_family_text;
                }

            }

            .second {


                h1 {
                    font-size: $font_size_title;
                    font-family: $font_family_title;
                    margin-bottom: 10px;
                }

                p {
                    font-size: $font_size_text;
                    font-family: $font_family_text;
                }

            }





        }

        .photos {
            height: 100%;
            // border-left: 5px solid black;

            .swiper-container {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                }
            }

        }

    }

    footer {
        width: 100%;
        height: 15%;
        background-color: #6f6f6f;
        display: flex;
        padding: 5px 3%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            margin: 0;

            li {
                list-style: none;
                font-size: 36px;
                font-family: $font_family_text;
                padding: 0;

                p {
                    margin: 0;
                }

                img {
                    width: 40px;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;


                }
            }

        }
    }




}

// 庭園一隅

.corner_all {
    width: 100%;
    height: 100vh;
    background-color: khaki;


    .upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 85%;
        padding: 15px;

        nav {

            .list {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: nowrap;
                align-items: center;
                position: relative;
                margin: 10px;

                .logo {

                    // position: absolute;
                    // top: 0;
                    padding: 0;
                    z-index: 10;

                    a {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: center;


                        img {
                            width: 45%;
                            // max-width: 400px;
                            min-width: 150px;

                        }
                    }
                }


                ul {
                    padding: 0px;
                    border: 2px solid pink;


                    li {
                        list-style: none;
                        // margin-top: 25px;
                        padding: 25px;





                        a {
                            text-decoration: none;
                            font-size: $font_size_nav;
                            color: $font_color_black;
                            padding: 10px;
                            font-family: $font_family_title;
                            white-space: nowrap;

                            &:hover {
                                border-bottom: 2px solid gray;
                            }



                        }



                    }

                    .about {
                        margin-top: 20%;
                    }

                    .corner {
                        a {
                            border-bottom: 2px solid black;
                        }
                    }
                }

            }
        }
    }

    .content {
        height: 100%;
        max-height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px;

        .inner {
            margin-bottom: 25px;

            h1 {
                font-size: $font_size_title;
                font-family: $font_family_title;
                margin-bottom: 10px;
            }

            p {
                font-size: $font_size_text;
                font-family: $font_family_text;
            }

        }
    }

    .photos {
        height: 100%;
        // border-left: 5px solid black;

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
            }
        }

    }

    footer {
        width: 100%;
        height: 15%;
        background-color: #6f6f6f;
        display: flex;
        padding: 5px 3%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            margin: 0;

            li {
                list-style: none;
                font-size: 36px;
                font-family: $font_family_text;
                padding: 0;

                p {
                    margin: 0;
                }

                img {
                    width: 40px;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;


                }
            }

        }
    }
}

// 庭園作物
.product_all {
    width: 100%;
    height: 100vh;
    background-color: lightgreen;


    .upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 85%;
        padding: 15px;

        nav {

            .list {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: nowrap;
                align-items: center;
                position: relative;
                margin: 10px;

                .logo {

                    // position: absolute;
                    // top: 0;
                    padding: 0;
                    z-index: 10;

                    a {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: center;


                        img {
                            width: 45%;
                            // max-width: 400px;
                            min-width: 150px;

                        }
                    }
                }


                ul {
                    padding: 0px;
                    border: 2px solid pink;


                    li {
                        list-style: none;
                        // margin-top: 25px;
                        padding: 25px;





                        a {
                            text-decoration: none;
                            font-size: $font_size_nav;
                            color: $font_color_black;
                            padding: 10px;
                            font-family: $font_family_title;
                            white-space: nowrap;

                            &:hover {
                                border-bottom: 2px solid gray;
                            }



                        }



                    }

                    .about {
                        margin-top: 20%;
                    }

                    .product {
                        a {
                            border-bottom: 2px solid black;
                        }
                    }
                }

            }
        }
    }

    .content {
        width: 100%;
        height: 100%;

        .row {
            text-align: center;
            margin: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            //    flex-wrap: nowrap;
            // padding: 20px;

            .card {
                margin-right: 10px;
                text-align: center;
                width: auto;
                background-color: inherit;
                border: none;


                img {
                    width: 100%;
                    max-height: 300px;
                }

                .card-body {
                    h5 {
                        font-size: $font_size_nav;
                        font-family: $font_family_text;
                    }

                    p {
                        font-size: $font_size_text;
                        font-family: $font_family_text;

                    }
                    
                    button{
                        font-family: $font_family_text;
                        font-size: $font_size_text;
                    }

                }
            }

            .modal {
                
                .modal-body {
                    // display: flex;
                    img{
                        width: 60%;
                    }
                    p{
                        font-size: $font_size_text;
                        font-family: $font_family_text;
                    }

                }

            }

        }

    }


    footer {
        width: 100%;
        height: 15%;
        background-color: #6f6f6f;
        display: flex;
        padding: 5px 3%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            margin: 0;

            li {
                list-style: none;
                font-size: 36px;
                font-family: $font_family_text;
                padding: 0;

                p {
                    margin: 0;
                }

                img {
                    width: 40px;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;


                }
            }

        }
    }
}

// 庭園農誌
.news_all {
    width: 100%;
    height: 100vh;
    background-color: steelblue;


    .upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 85%;
        padding: 15px;

        nav {

            .list {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: nowrap;
                align-items: center;
                position: relative;
                margin: 10px;

                .logo {

                    // position: absolute;
                    // top: 0;
                    padding: 0;
                    z-index: 10;

                    a {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: center;


                        img {
                            width: 45%;
                            // max-width: 400px;
                            min-width: 150px;

                        }
                    }
                }


                ul {
                    padding: 0px;
                    border: 2px solid pink;


                    li {
                        list-style: none;
                        // margin-top: 25px;
                        padding: 25px;





                        a {
                            text-decoration: none;
                            font-size: $font_size_nav;
                            color: $font_color_black;
                            padding: 10px;
                            font-family: $font_family_title;
                            white-space: nowrap;

                            &:hover {
                                border-bottom: 2px solid gray;
                            }



                        }



                    }

                    .about {
                        margin-top: 20%;
                    }

                    .news {
                        a {
                            border-bottom: 2px solid black;
                        }
                    }
                }

            }
        }
    }

    .content {
        width: 100%;
        height: 100%;
    }

    footer {
        width: 100%;
        height: 15%;
        background-color: #6f6f6f;
        display: flex;
        padding: 5px 3%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            margin: 0;

            li {
                list-style: none;
                font-size: 36px;
                font-family: $font_family_text;
                padding: 0;

                p {
                    margin: 0;
                }

                img {
                    width: 40px;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;


                }
            }

        }
    }
}