
nav{
   
    .logo{
        height: 30px;
    }
    .icons{
        margin-right: 0!important;
        
        img{
            width: 20px;
        }
    }
    
    
}
// @media(max-width: 1083px){
    
//     nav{
//         .container{
//             max-width: 100%!important;
//             margin: 0;
//         }
//     }
// }
.banner{
    width: 100%;
    height: 60vh;
    margin-bottom: 20px;
    .container{
        height: 100%;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        
      
        .swiper-slide {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */        
            display: flex;       
            justify-content: center;       
            align-items: center;

        
            .swiper_content{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;
            }
            .swiper_img{
                width: 50%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
           
        }
        // @media screen and (max-width:767px){

        //     .swiper_reverse{
        //         flex-direction: column-reverse;
        //         .swiper_content{
        //             width: 100%!important;
        //             height: 50%!important;
        //         }
        //         .swiper_img{
        //             width: 100%!important;
        //             height: 50%!important;
        //         }
        //     }
            
        // }
    }
}

main{
    .card{
        border: none;
        margin-bottom: 20px;
    }
    .board{
        background-image: url('../img/board.jpg');
        background-position: right;
        background-size: auto;  
        width: 100%;
        height: 600px;
        margin-bottom: 20px;
        position: relative;
        
        
        .board_content{
            position: absolute;
            top: calc(50% - 60px);
            left: 80px;
        }
    }
    @media (max-width: 767px){
        .board{
            width: 100%;
            height: 800px;

            .board_content{
                top: 80%;
                left: calc(50% - 126px);
            }
        }
    }
}
    
