*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.flex{
    display: flex;
}
nav{
    width: 100%;
    height: 48px;
    background-color: black;
    color: white;
}
.container{
    width: 1536px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    
}
@media screen and (max-width: 1680px){
    .container{
        width: 1336px;
    }
}
@media screen and (max-width: 1680px){
    .container{
        width: 1336px;
    }
}
@media screen and (max-width: 1460px){
    .container{
        width: 1136px;
    }
    nav .container .link_group{
        padding: 0 60px 0 120px;
    }
}
@media screen and (max-width: 1280px){
    nav .container{
        width: 960px;
    }
}
@media screen and (max-width: 1024px){
    .container{
        width: 100%;
        padding: 0 30px;
    }
    nav .container .link_group{
        padding: 0 0 0 120px;
    }
    
}
nav .logo{
    width: 190px;
    height: 48px;    
    display: flex;
    align-items: center;   

}
nav .logo img{
    width: 16px;
    height: 16px;
}
nav .logo a{
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 1024px){
    nav .logo{
        width: 60px;
    }
}
@media screen and (max-width: 670px){
    nav .logo{
        width: 30px;
    }
}
nav .mainpage h1{
    margin: 0;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 49px;
}
nav .mainpage h1 a{
    color: white;
    text-decoration: none;
    border-spacing: 0px;
    white-space: nowrap;
}
nav .links{
    margin: 0;    
    height: 48px;
    list-style-type: none;
    justify-content: space-between;    
    
}
nav .link_group{
    width: 100%;
    flex-grow: 1;
    padding: 0 120px 0  420px;
}


nav .links a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    line-height: 49px;
    display: block;
}
nav .links a:hover{
    color: blue;
}

/* 手機版 */
nav .menu_btn{
    display: none;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 10px;

    
}
nav .menu_btn span{
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    transition: 1s;

}
nav .menu_btn .top_bar{
    top: 17px;
    left: 12px;
    transform: rotate(0deg);    
}
nav .menu_btn .mid_bar{
    top: 24px;
    left: 12px;
    opacity: 1;
}
nav .menu_btn .btm_bar{
    top: 31px;
    left: 12px;
    transform: rotate(0deg);
}
nav .menu_btn .top_bar.active{
    top: 24px;
    transform: rotate(-45deg);
}
nav .menu_btn .mid_bar.active{
    opacity: 0;
}
nav .menu_btn .btm_bar.active{
    top: 24px;
    transform: rotate(45deg);
}


nav .menu_list{   
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: calc(100vh - 48px);
    background-color: black;
    transition: 1s;
    position: absolute;
    top: 48px;
    left: 0;
    
}
nav .menu_list.active{
    opacity: 1;
    pointer-events: all;
}
nav .menu_list ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav .menu_list ul a{
    color: white;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 25px 30px;
}
nav .menu_list ul a:hover{
    background-color: white;
    color: black;
}
/* 手機板選單出現 */
@media (max-width: 767px){
    nav .container .menu_btn {
        display: flex;
    }
    nav .container .link_group{
        display: none;
    }
}

/* Main */

#intro{
    width: 100%;
    margin: 145px 0 65px;
    background-color: black;
}
#intro .inner{
    display: flex;
    width: 1536px;
    margin: 0px auto;
}
#intro .content{
    width: 410px;
    flex: 0 0 auto;
    
}
.content .contentHead{
    width: 100%;
}
.content .contentHead h2{
    font-size: 64px;
    line-height: 80px;
    color: rgb(79, 229, 255);
    font-weight: 600;
    margin: 0px 0px 0px -6px;
}
.content .contentParagraph{
    color: white;
    width: 100%;
    margin: 100px 0px 30px;
    max-width: 352px;
}
.content .contentParagraph p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px 0px 24px;
}
.inner .fluent_img{
    text-align: center;
    position: relative;
    flex: 1 1 auto;
}
@media (max-width: 1680px){
    #intro .inner{
        width: 1336px;
    }
}
@media (max-width: 1460px){
    #intro .inner{
        width: 1136px;
    }
}
@media (max-width: 1280px){
    #intro .inner{
        width: 960px;
    }
}
    

/* 四格選單 */

.four_column{
    overflow: hidden;

}
.four_column .row{
    position: relative; 
    width: 100%;
    margin: 0px auto;
    display: flex;  
    justify-content: center; 
    
}
.row::before {
    content: "";
    display: block;
    position: absolute;
    left: -40%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(34, 128, 200);
    z-index: -1;
}

.row::after {
    content: "";
    display: block;
    position: absolute;
    right: -40%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(95, 207, 99);
    z-index: -1;
}
.row a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 27px;
}
.WebColumn{
    background-color: rgb(37, 142, 222);
}
.WebColumn:hover{
    background-color: rgb(20, 130, 200);
}
.windowsColumn{
    background-color: rgb(79, 229, 255);
}
.windowsColumn:hover{
    background-color: rgb(60, 200, 220);
}
.iosColumn{
    background-color: rgb(207, 143, 255);
}
.iosColumn:hover{
    background-color: rgb(198, 135, 220);
}
.androidColumn{
    background-color: rgb(105, 229, 110);
}
.androidColumn:hover{
    background-color: rgb(80, 200, 90);
}
.row .img {
    margin: 0 0 75px 0;
}
.row h2 {
    line-height: 36px;
    margin-bottom: 36px;
}

.row p {

    margin-bottom: 92px;
}

.row .arrow {
    margin: 0 16px 0 0;
}
@media(max-width: 1200px) {
    .four_column .container {
        max-width: 100%;
        padding: 0;
    }

    .row::before {
        display: none;
    }

    .row::after {
        display: none;
    }

    .col-xl-3 a {

        padding: 38px;
    }

    .img {
        margin: 0 0 70px 0;
    }

    .col-xl-3 h2 {

        margin-bottom: 45px;
    }

    .col-xl-3 p {

        margin-bottom: 25px;
    }



}

/* Natural on every device */
.natural{
    width: 100%;
    min-height: 768px;   
    background-image: url('../img/natural_background.jpg'); 

}
.natural .natural_inner{
    width: 1536px;
    margin: 0px auto;
}
.natural .natural_inner .natural_head{
    width: 100%;
    padding: 10px 20px 0;
}
.natural_head h2{
    color: rgb(0, 0, 0);
    font-size: 128px;
    line-height: 150px;
    font-weight: 600;
}
.natural_para{
    width: 100%;
    margin: 60px 0px 0px;
    max-width: 384px;
    padding: 0px 16px 0px 24px;

}
.natural_para p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
}