*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.flex{
    display: flex;
}
nav{
    width: 100%;
    height: 48px;
    background-color: black;
    color: white;
}
.container{
    width: 1536px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    
}
@media screen and (max-width: 1680px){
    .container{
        width: 1336px;
    }
}
@media screen and (max-width: 1680px){
    .container{
        width: 1336px;
    }
}
@media screen and (max-width: 1460px){
    .container{
        width: 1136px;
    }
    nav .container .link_group{
        padding: 0 60px 0 120px;
    }
}
@media screen and (max-width: 1280px){
    .container{
        width: 960px;
    }
}
@media screen and (max-width: 1024px){
    .container{
        width: 100%;
        padding: 0 30px;
    }
    nav .container .link_group{
        padding: 0 0 0 120px;
    }
    
}
nav .logo{
    width: 190px;
    height: 48px;    
    display: flex;
    align-items: center;   

}
nav .logo img{
    width: 16px;
    height: 16px;
}
nav .logo a{
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 1024px){
    nav .logo{
        width: 60px;
    }
}
@media screen and (max-width: 670px){
    nav .logo{
        width: 30px;
    }
}
nav .mainpage h1{
    margin: 0;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 49px;
}
nav .mainpage h1 a{
    color: white;
    text-decoration: none;
    border-spacing: 0px;
    white-space: nowrap;
}
nav .links{
    margin: 0;    
    height: 48px;
    list-style-type: none;
    justify-content: space-between;    
    
}
nav .link_group{
    width: 100%;
    flex-grow: 1;
    padding: 0 120px 0  420px;
}


nav .links a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    line-height: 49px;
    display: block;
}
nav .links a:hover{
    color: blue;
}

/* 手機版 */
nav .menu_btn{
    display: none;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 10px;

    
}
nav .menu_btn span{
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    transition: 1s;

}
nav .menu_btn .top_bar{
    top: 17px;
    left: 12px;
    transform: rotate(0deg);    
}
nav .menu_btn .mid_bar{
    top: 24px;
    left: 12px;
    opacity: 1;
}
nav .menu_btn .btm_bar{
    top: 31px;
    left: 12px;
    transform: rotate(0deg);
}
nav .menu_btn .top_bar.active{
    top: 24px;
    transform: rotate(-45deg);
}
nav .menu_btn .mid_bar.active{
    opacity: 0;
}
nav .menu_btn .btm_bar.active{
    top: 24px;
    transform: rotate(45deg);
}


nav .menu_list{   
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: calc(100vh - 48px);
    background-color: black;
    transition: 1s;
    position: absolute;
    top: 48px;
    left: 0;
    
}
nav .menu_list.active{
    opacity: 1;
    pointer-events: all;
}
nav .menu_list ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav .menu_list ul a{
    color: white;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 25px 30px;
}
nav .menu_list ul a:hover{
    background-color: white;
    color: black;
}
/* 手機板選單出現 */
@media (max-width: 767px){
    nav .container .menu_btn {
        display: flex;
    }
    nav .container .link_group{
        display: none;
    }
}

/* Main */
/* intro */
main{
    overflow: hidden;
}

#intro{
    width: 100%;
    margin: 145px 0 65px;
    background-color: black;
}
#intro .inner{
    display: flex;
    width: 1536px;
    margin: 0px auto;
}
#intro .content{
    width: 410px;
    flex: 0 0 auto;
    
}
.content .contentHead{
    width: 100%;
}
.content .contentHead h2{
    font-size: 64px;
    line-height: 80px;
    color: rgb(79, 229, 255);
    font-weight: 600;
    margin: 0px 0px 0px -6px;
}
.content .contentParagraph{
    color: white;
    width: 100%;
    margin: 100px 0px 30px;
    max-width: 352px;
}
.content .contentParagraph p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px 0px 24px;
}
.inner .fluent_img{
    text-align: center;
    position: relative;
    flex: 1 1 auto;
}
.inner .fluent_img .line_white2{
    position: absolute;
    bottom: 155px;
    left: 180px;
    pointer-events: none;

}
.inner .fluent_img .line_white1{
    position: absolute;
    top: -15px;
    right: 180px;
    pointer-events: none;

}


    

/* 四格選單 */

.four_column{
    overflow: hidden;

}
.four_column .row{
    position: relative; 
    width: 100%;
    margin: 0px auto;
    display: flex;  
    justify-content: center; 
    
}
.row::before {
    content: "";
    display: block;
    position: absolute;
    left: -40%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(34, 128, 200);
    z-index: -1;
}
::before{
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    position: absolute;
    right: -40%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(95, 207, 99);
    z-index: -1;
}
::after{
    box-sizing: border-box;
}
.row a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 27px;
}
.WebColumn{
    background-color: rgb(37, 142, 222);
}
.WebColumn:hover{
    background-color: rgb(20, 130, 200);
}
.windowsColumn{
    background-color: rgb(79, 229, 255);
}
.windowsColumn:hover{
    background-color: rgb(60, 200, 220);
}
.iosColumn{
    background-color: rgb(207, 143, 255);
}
.iosColumn:hover{
    background-color: rgb(198, 135, 220);
}
.androidColumn{
    background-color: rgb(105, 229, 110);
}
.androidColumn:hover{
    background-color: rgb(80, 200, 90);
}
.row .img {
    margin: 0 0 75px 0;
}
.row h2 {
    line-height: 36px;
    margin-bottom: 36px;
}

.row p {

    margin-bottom: 92px;
}

.row .arrow {
    margin: 0 16px 0 0;
}
@media(max-width: 1200px) {
    .four_column .container {
        max-width: 100%;
        padding: 0;
    }

    .row::before {
        display: none;
    }

    .row::after {
        display: none;
    }

    .col-xl-3 a {

        padding: 38px;
    }

    .img {
        margin: 0 0 70px 0;
    }

    .col-xl-3 h2 {

        margin-bottom: 45px;
    }

    .col-xl-3 p {

        margin-bottom: 25px;
    }



}

/* Natural on every device */
.natural{
    width: 100%;
    min-height: 768px;   
    background: url(https://www.microsoft.com/design/fluent/assets/images/msft-verge-fluent.jpg) 50% center / cover no-repeat fixed rgb(204, 204, 204);


}
.natural .natural_inner{
    width: 1536px;
    margin: 0px auto;
}
.natural .natural_inner .natural_head{
    width: 100%;
    padding: 10px 20px 0;
}
.natural_head h2{
    color: rgb(0, 0, 0);
    font-size: 128px;
    line-height: 150px;
    font-weight: 600;
}
.natural_para{
    width: 100%;
    margin: 60px 0px 0px;
    max-width: 384px;
    padding: 0px 16px 0px 24px;

}
.natural_para p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
}
/* 圓球 */
.ball_area{
    width: 100;
    background-color: rgb(25, 25, 25);
}
.ball_inner{
    position: relative;    
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 1536px;
    margin: 0px auto;
}
.rect_img{
    position: absolute;
    top: -200px;
    right: 130px;
    pointer-events: none;
    z-index: 4;
    /* transform: translateY(20px); */
    /* opacity: 0; */
    /* transition: opacity 600ms linear 0ms, transform 600ms linear 0ms; */

}
.line_img{
    position: absolute;
    top: 570px;
    left: 190px;
    /* pointer-events: none; */
    /* transform: translateY(400px); */
    /* transition: transform 600ms linear 0ms; */
}
.ball_img{
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    /* opacity: 0; */
    /* transform: scale(0.8); */
    padding: 100px 100px 50px;
    /* transition: opacity 600ms linear 0ms, transform 600ms linear 0ms; */
}
.ball_img img{
    max-width: 100%;
}
.ball_content{
    width: 100%;
    background-color: rgb(25, 25, 25);
}
.ball_content .content_inner{
    position: relative;
    width: 1536px;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;

}
.ball_para{
    width: 384px;
    margin: 0px 0px 50px;
    padding: 0px 16px;
}
.ball_para p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
}
/* 水晶 */
.intuitive_all{
    width: 100%;
    position: relative;
    background-color: rgb(25, 25, 25);
}
.intuitive_title{
    position: absolute;
    bottom: 80px;
    left: 0px;
    width: 100%;
    z-index: 4;
}
.intuitive_title .title_inner{
    width: 1536px;
    margin: 0px auto;
}
.intuitive_title .title_inner h2{
    color: rgb(25, 25, 25);
    font-size: 128px;
    line-height: 144px;
    font-weight: 600;
    margin: 0px 0px 0px 26px;
}
.intuitive_img{
    width: 100%;
    /* transform: translateY(200px) scale(1.2); */
    /* opacity: 0; */
    display: flex;
    -webkit-box-pack: center;
    /* 令div中的子元素置中 */
    justify-content: center;
    /* 類似background-size 可使圖片不受瀏覽器縮放而跑版變形*/
    /* object-fit可以用在替換元素如 image iframe 有自身寬高 */
    object-fit: contain;
    overflow: hidden;
}
.intuitive_img img{
    width: 100%;
    min-width: 2000px;
    position: relative;
    align-self: center;
    
}
/* De--sign */
.cloud_all{
    position: relative;
    top: 0px;
    z-index: 2;
    width: 100%;
    min-height: 948px;
    background: url(https://www.microsoft.com/design/fluent/assets/images/clouds.jpg) 50% center / cover no-repeat fixed rgb(0, 0, 0);
}
.cloud_inner{
    position: relative;
    display: flex;
    height: 100%;
    width: 1536px;
    margin: 0px auto;
}
.plane{
    position: absolute;
    top: -240px;
    right: -260px;
    width: 768px;
}
.plane_img{
    position: absolute;
    top: -120px;
    left: 2px;
    z-index: 2;
    opacity: 1;
}
.plane_line{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.cloud_titleD h2{
    position: absolute;
    top: -100px;
    left: 0px;
    font-size: 395px;
    line-height: 1;
    color: rgb(0, 0, 0);
    font-weight: 600;
    opacity: 0.993449;
    transform: translate3d(0px, 1.31029px, 0px);
}

.cloud_titleS h2{
    position: absolute;
    top: 140px;
    right: -30px;
    font-size: 395px;
    line-height: 1;
    color: rgb(0, 0, 0);
    font-weight: 600;
    opacity: 0.971515;
    transform: translate3d(0px, 5.69695px, 0px);
}
.cloud_line{
    position: absolute;
    top: 670px;
    left: 370px;
    pointer-events: none;
    opacity: 1; 
    transform: translateY(0px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
/* Engaging and immersive */
.engaging{
    width: 100%;
    background-color: rgb(204, 204, 204);
    min-height: 820px;
    position: relative;
}

.engaging_inner{
    width: 1536px;
    position: relative;
    margin: 0px auto;
}
.engaging_title{
    width: 100%;
    padding: 140px 40px 0px 8px;
}
.engaging_title h2{
    color: rgb(0, 0, 0);
    font-size: 128px;
    line-height: 150px;
    font-weight: 600;
}
.engaging_content{
    width: 100%;
    margin: 60px 0px 0px;
}
.engaging_content .content_inner{
    width: 100%;
    max-width: 384px;
    padding: 0px 16px;
    margin: 0;
}
.engaging_content .content_inner p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
}
.engaging_img{
    position: absolute;
    top: 200px;
    right: 0;
}
.engaging_img img{
    max-width: 1000px;
}
/* 銀河 */
.stars_sky{
    width: 100%;
    min-height: 768px;
    background: url(https://www.microsoft.com/design/fluent/assets/images/space.jpg) 50% center / cover no-repeat fixed rgb(0, 0, 0);
}
.stars_sky .sky_inner{
    position: relative;
    z-index: 2;
    width: 1536px;
    margin: 0px auto;
}
.inner_first{
    position: absolute;
    top: -95px;
    left: 340px;
    pointer-events: none;
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
   
}
/* .inner_first img{
    display: none;
} */
.inner_second{
    position: absolute;
    top: 185px;
    left: 165px;
    /* pointer-events: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms; */
}
.inner_third{
    position: absolute;
    top: -125px;
    left: 620px;
    pointer-events: none;
    /* opacity: 0;
    transform: translateY(100px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms; */
}
.inner_fourth{
    position: absolute;
    top: 530px;
    right: 85px;
    pointer-events: none;
    /* opacity: 0;
    transform: translateY(40px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms; */
}
.inner_fifth{
    position: absolute;
    top: 370px;
    right: 220px;
    pointer-events: none;
    /* opacity: 0;
    transform: translateY(100px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms; */
}
/* 四格選單 */
.columns{
    position: relative;
    width: 100%;
    margin: 0 0 160px;
    z-index: 1;
    
}
.columns_inner{
    position: relative;
    z-index: 2;
    width: 1536px;
    margin: 0px auto;
}
.each_column{
    width: 100%;
    display: flex;
    position: relative;
}
.first_column{
    background-color: rgb(0, 0, 0);
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
}
.each_column a{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: background-color 200ms linear 0ms;
}
.each_column a:hover{
    background-color: rgb(255, 255, 255);
}
.each_column a:hover .columns_title p{
    color: black;
}

.each_column a:hover .microsoft_design label{
    color: rgb(0,0,0);
}
.columns_title{
    width: 100%;
    padding: 16px;
    flex: 1 1 auto;
    margin: 2px 0px 0px;
}
.columns_title p{
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: color 200ms linear 0ms;
}
.columns_microsoft{
    width: 100%;
    display: flex;
    padding: 16px;
    flex: 0 0 auto;
}
.columns_microsoft .microsoft_img{
    width: 24px;
    flex: 0 0 auto;
    margin: 0px 16px 0px 0px;
}
.microsoft_img img{
    max-width: 20px;
    height: auto;
}
.columns_microsoft .microsoft_design{
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 auto;
}
.microsoft_design label{
    color: rgb(255, 255, 255);
}

.second_column{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
    background-color: rgb(57,57,57);
}
.third_column{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
    background-color: rgb(118,118,118);
}
.fourth_column{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
    background-color: rgb(204,204,204);
}
/* Open stars */
.open_area{
    width: 100%;
}
.open_inner{
    width: 1536px;
    margin: 0 auto;
}
.inner_all{
    width: 100%;
}
.inner_upper{
    width: 100%;
    display: flex;
    padding: 0px 0px 200px;
}
.inner_title{
    width: 575px;
    flex: 0 0 auto;
}
.inner_title h2{
    font-size: 32px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 0px 0px 0px 16px;
}
.inner_content{
    flex: 1 1 auto;
    padding: 0px 330px 35px 208px;
}
.content_text{
    width: 100%;
}
.content_text p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.content_link{
    width: 100%;
    margin: 70px 0 0;
}
.content_link a{
    cursor: pointer;
    display: flex;
    width: 100%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.content_link span{
    font-size: 16px;
    font-family: "Segoe UI Mono", mono;
    letter-spacing: 0.01rem;
    line-height: 1;
}
/* main media query */
@media (max-width: 6770px){
    .ball_inner .ball_img{
        padding: 60px 30px;
    }
}
@media (max-width: 1940px){
    .engaging_img img{
        max-width: 900px;
    }
}
@media (max-width: 1680px){
    #intro .inner{
        width: 1336px;
    }
    .fluent_img .line_white1{
        top: -40px;
        right: 36px;
    }
    .fluent_img .line_white2{
        bottom: 160px;
        left: 30px;
    }
    .natural .natural_inner{
        width: 1336px;
    }
    .ball_inner{
        width: 1336px;
    }
    .ball_inner .rect_img{
        right: 30px;
    }
    .ball_content .content_inner{
        width: 1336px;
    }
    .intuitive_title .title_inner{
        width: 1336px;
    }
    .intuitive_title .title_inner h2{
        font-size: 96px;
        line-height: 128px;
    }
    .cloud_inner{
        width: 1336px;
    }
    .cloud_inner .cloud_titleD h2{
        top: 40px;
        font-size: 295px;
    }
    .cloud_inner .cloud_titleS h2{
        top: 120px;
        right: 30px;
        font-size: 295px;
    }
    .engaging .engaging_inner{
        width: 1336px;
    }
    .engaging_img img{
        max-width: 50vw;
    }
    .stars_sky .sky_inner{
        width: 1336px;
    }
    
    .columns_inner{
        width: 1336px;
    }
    .open_inner{
        width: 1336px;
    }
    .open_inner .inner_upper .inner_title{
        width: 50%;
    }
    .open_inner .inner_upper .inner_content{
        width: 50%;
        padding: 0 16px 35px;
    }
}
@media (max-width: 1460px){
    #intro .inner{
        width: 1136px;
    }
    .contentParagraph{
        max-width: 384px;
    }
    .fluent_img .line_white1{
        top: -15px;
        right: 36px;
    }
    .fluent_img .line_white2{
        bottom: 120px;
        left: 30px;
    }
    .natural .natural_inner{
        width: 1136px;
    }
    .natural .natural_inner .natural_head{
        padding: 10px 0 0 16px;
    }
    .natural .natural_inner .natural_head h2{
        font-size: 96px;
        line-height: 120px;
    }
    .natural .natural_inner .natural_para{
        margin: 40px 0 0 ;
    }
    .ball_inner{
        width: 1136px;
    }
    .ball_inner .rect_img{
        top: 200px;
    }
    .ball_content .content_inner{
        width: 1136px;
    }
    .intuitive_title .title_inner{
        width: 1136px;
    }
    .cloud_inner{
        width: 1136px;
    }
    .cloud_inner .plane{
        display: none;
    }
    .cloud_inner .cloud_titleD h2{
        top: 20px;
        left: 0px;
    }
    .cloud_inner .cloud_titleS h2{
        top: 180px;
        right: 30px;
    }
    .cloud_inner .cloud_line{
        top: 550;
        left: 370px;
    }
    .engaging .engaging_inner{
        width: 1136px;
    }
    .engaging_title{
        padding: 60px 40px 0 8px;
    }
    .stars_sky .sky_inner{
        width: 1136px;
    }
    .sky_inner .inner_first{
        top: -75px;
        left: 50%;
        margin: 0 0 0 -215px;
    }
    .sky_inner .inner_second{
        top: 40vh;
        left: 65px;
    }
    .sky_inner .inner_third{
        top: 80px;
        left: auto;
        right: 60px;
    }
    .sky_inner .inner_fifth{
        top: 470px;
        right: 220px;
    }
    .columns{
        position: relative;
        z-index: 1;
    }
    .columns_inner{
        width: 1136px;
    }
    .open_inner{
        width: 1136px;
    }
}
@media (max-width: 1280px){
    #intro .inner{
        width: 960px;
    }
    #intro .inner .content{
        width: 50%;
    }
    .fluent_img{
        width: 50%;
        padding: 0 40px;
    }
    .fluent_img img{
        max-width: 100%;
    }
    .fluent_img .line_white1{
        display: none;
    }
    .fluent_img .line_white2{
        display: none;
    }
    .natural{
        min-height: 668px;
    }
    .natural .natural_inner{
        width: 960px;
    }
    .natural .natural_inner .natural_head{
        padding: 20px 0 60px;
    }
    .natural .natural_inner .natural_para{
        margin: 0;
    }
    .ball_inner{
        width: 960px;
    }
    .ball_content .content_inner{
        width: 960px;
    }
    .intuitive_title .title_inner{
        width: 960px;
    }
    .intuitive_title .title_inner h2{
        font-size: 96px;
        line-height: 104px;
    }
    .cloud_all{
        min-height: 668px;
    }
    .cloud_inner{
        width: 960px;
    }
    .cloud_inner .cloud_titleD h2{
        top: 40px;
        left: 14px;
        font-size: 228px;
    }
    .cloud_inner .cloud_titleS h2{
        top: 220px;
        right: 10px;
        font-size: 228px;
    }
    .cloud_inner .cloud_line{
        display: none;
    }
    .engaging{
        min-height: 668px;
    }
    .engaging .engaging_inner{
        width: 960px;
    }
    .engaging_title{
        padding: 29px 0px 0px;
    }
    .engaging_title h2{
        font-size: 96px;
        line-height: 104px;
    }
    .stars_sky{
        min-height: 668px;
    }
    .stars_sky .sky_inner{
        width: 960px;
    }
    .columns_inner{
        width: 960px;
    }
    .each_column .columns_title p{
       font-size: 28px; 
    }
    .open_inner{
        width: 960px;
    }
}
@media (max-width: 1024px ){
    #intro .inner{
        width: 100%;
        padding: 30px;
    }
    .four_column .container .row{
        flex-wrap: wrap;
    }
    .four_column .container .row .media{
        width: 50%;
        height: 320px;
    }
    .natural .natural_inner{
        width: 100%;
        padding: 0 30px;
    }
    .natural .natural_inner .natural_head{
        padding: 29px 0 40px;
    }
    .natural .natural_inner .natural_head h2{
        font-size: 86px;
        line-height: 90px;
        margin: 0;
    }
    .ball_inner{
        width: 100%;
        padding: 0 30px;
    }
    .ball_content .content_inner{
        width: 100%;
        padding: 0 30px;
    }
    .intuitive_title{
        bottom: 60px;
    }
    .intuitive_title .title_inner{
        width: 100%;
        padding: 0 30px;
    }
    .intuitive_title .title_inner h2{
        font-size: 86px;
        line-height: 90px;
        margin: 0;
    }
    .cloud_inner{
        width: 100%;
        padding: 0 30px;
    }
    .engaging .engaging_inner{
        width: 100%;
        padding: 0 30px;
    }
    
    .engaging_img img{
        max-width: 70vw;
    }
    .engaging_title h2{
        font-size: 86px;
        line-height: 90px;
        margin: 0;
    }
    .engaging_content .content_inner{
        padding: 0 0 0 4px;
    }
    .engaging_img{
        right: -20vw;
    }
    .stars_sky .sky_inner{
        width: 100%;
        padding: 0 30px;
    }
    .columns{
        margin: 0 0 60px;
    }
    .columns_inner{
        width: 100%;
    }
    .columns_inner .each_column{
        flex-wrap: wrap;
    }
    .columns_inner .each_column .first_column{
        width: 50%;
    }
    .columns_inner .each_column .second_column{
        width: 50%;
    }.columns_inner .each_column .third_column{
        width: 50%;
    }.columns_inner .each_column .fourth_column{
        width: 50%;
    }
    .each_column .columns_title{
        padding: 19px 28px;
    }
    .each_column .columns_microsoft{
        padding: 0 30px 30px;
    }
    .open_inner{
        width: 100%;
    }
    .open_inner .inner_upper .inner_title{
        margin: 0 30px 30px;
    }
    .open_inner .inner_upper .inner_title h2{
        padding: 0;
    }
    .open_inner .inner_upper .inner_content{
    padding: 0 30px 35px;
    }
    

}
@media (max-width: 960px){
    #intro .inner{
        width: 100%;
        padding: 0 30px;
    }
    #intro .inner .content{
        width: 60%;
    }
    .contentParagraph{
        width: 100%;
        max-width: 352px;

    }
    .fluent_img{
        width: 40%;
        padding: 0 0 0 30px;
    }
    .natural{
        background-attachment: scroll;
    }
    .natural .natural_inner{
        width: 100%;
        padding: 0 30px;
    }
    .ball_para{
        padding: 0;
    }
    .cloud_all{
        background-attachment: scroll;
    }
    .engaging .engaging_inner{
        width: 100%;
        padding: 0 30px 40px;
    }
    .stars_sky{
        background-attachment: scroll;
    }
    .columns{
        margin: 0;
    }
    .open_inner{
        width: 100%;
        padding: 0 30px;
    }
    .open_inner .inner_upper{
        flex-wrap: wrap;
        padding: 0;
    }
    .open_inner .inner_upper .inner_title{
        width: 100%;
        margin: 30px 0;
    }
    .open_inner .inner_upper .inner_title h2{
        font-size: 24px;
        line-height: 34px;
    }
    .open_inner .inner_upper .inner_content{
        width: 50%;
        padding: 0 0 35px;
    }
    .open_inner .inner_upper .inner_content .content_link{
        margin: 30px 0 0 ;
    }
    .open_inner .inner_upper .inner_content .content_link span{
        font-size: 12px;
    }
}
@media (max-width: 767px){
    .contentHead h2{
        font-size: 48px;
        line-height: 60px;
    }
    .contentParagraph{
        margin: 60px 0 30px;
    }
    .four_column .container .row .media{
        width: 100%;
    }
    .ball_inner .rect_img{
        top: -300px;
        right: 100px;
    }
    .engaging_img{
        right: -20vw;
    }
    .sky_inner .inner_fifth{
        display: none;
    }
    .columns_inner .each_column .first_column{
        width: 100%;
        height: auto;
        min-height: 260px;
    }
    .columns_inner .each_column .second_column{
        width: 100%;
        height: auto;
        min-height: 260px;
    }
    .columns_inner .each_column .third_column{
        width: 100%;
        height: auto;
        min-height: 260px;
    }
    .columns_inner .each_column .fourth_column{
        width: 100%;
        height: auto;
        min-height: 260px;
    }
}
@media (max-width: 670px){
    #intro{
        margin: 0 0 30px;
    }
    #intro .inner .content{
        width: 100%;;
    }
    #intro .inner .content .contentHead{
        margin: 60px 0 30px;
    }
    .contentHead h2{
        font-size: 48px;
        line-height: 58px;
    }
    .fluent_img{
        display: none;
    }
    .natural{
        min-height: 768px;
    }
    .natural .natural_inner .natural_head h2{
        font-size: 64px;
        line-height: 70px;       
    }
    .ball_inner .rect_img{
        display: none;
    }
    .ball_inner .line_img{
        left: 90vw;
    }
    .ball_content .content_inner{
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    .intuitive_title .title_inner h2{
        font-size: 64px;
        line-height: 70px;

    }
    .cloud_inner .cloud_titleD h2{
        font-size: 168px;
    }
    .cloud_inner .cloud_titleS h2{
        font-size: 168px;
    }
    .engaging{
        min-height: 468px;
    }
    .engaging_title h2{
        font-size: 64px;
        line-height: 70px;
    }
    .engaging_content{
        margin: 40px 0 0;
    }
    .engaging_img{
        display: none;
    }
    
}
@media (max-width: 500px){
    .four_column .container .row .media{
        height: auto;
    }
    .natural .natural_inner .natural_head h2{
        font-size: 48px;
        line-height: 60px;        
    }
    .intuitive_title .title_inner h2{
        font-size: 48px;
        line-height: 60px;
    }
    .cloud_inner .cloud_titleD h2{
        font-size: 128px;
    }
    .cloud_inner .cloud_titleS h2{
        font-size: 128px;
    }
    .engaging_title h2{
        font-size: 48px;
        line-height: 60px;
    }
    .stars_sky{
        min-height: 568px;
    }
    .sky_inner .inner_first{
        width: 100%;
        max-width: 50%;
        left: 30%;
        margin: 0;
    }
    .sky_inner .inner_second{
        display: none;
    }.sky_inner .inner_third{
        display: none;
    }.sky_inner .inner_fourth{
        display: none;
    }
    .sky_inner .inner_first img{
        max-width: 100%;
    }
    
}
@media (max-width: 400px){
    .natural .natural_inner{
       padding: 0 30px 60px;
    }
    .cloud_all{
        min-height: 500px;
    }
    .cloud_inner .cloud_titleD h2{
        font-size: 96px;
    }
    .cloud_inner .cloud_titleS h2{
        font-size: 96px;
        top: 160px;
    }
    .sky_inner .inner_first{
        top: 0px;
        /* width: 100%; */
        max-width: 100%;
        left: 0px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 0px 60px;
    }
    .sky_inner .inner_first img{
        width: 100%;
    }
    .each_column .columns_title p{
        font-size: 24px;
        line-height: 34px;
     }
}
/* footer */
footer{
    width: 100%;
    height: 48px;
}
.footer_inner{
    width: 1536px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
}
.footer_logo{
    width: 190px;
    height: 48px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
}
.footer_logo a{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.footer_logo a img{
    width: 16px;
}
.footer_nav{
    height: 48px;
    flex: 1 1 auto;
    padding: 0px 100px 0px 0px;
}
.footer_nav ul{
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.footer_nav ul li{
    width: auto;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 48px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
.footer_nav ul a{
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.footer_nav ul a::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    width: 100%;
    opacity: 0;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition: all 200ms linear 0ms;
}
.footer_social{
    display: flex;
    height: 48px;
}
.footer_social a{
    width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
}
.footer_social a img{
    width: 20px;
}
/* footer media query */
@media (max-width: 1680px){
    .footer_inner{
        width: 1336px;
    }
}
@media (max-width: 1460px){
    .footer_inner{
        width: 1136px;
    }
}
@media (max-width: 1280px){
    .footer_inner{
        width: 960px;
    }
    .footer_inner .footer_logo{
        width: 40px;
    }
}
@media (max-width: 1024px){
    footer{
        height: auto;
        padding: 0 0 18px;
    }
    footer .footer_inner{
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        padding: 0 30px;
    }
    .footer_inner .footer_logo{
        width: 80px;
        flex: 0 0 auto;
    }
    .footer_inner .footer_nav{
        width: 100%;
        height: auto;
        flex: 1 1 auto;
        padding: 0px;
    }
    .footer_social{
        width: 50%;
        top: 0px;
        -webkit-box-pack: end;
        justify-content: flex-end;
        position: absolute;
        right: 30px;
        flex: 1 1 auto;
        padding: 0px;
    }
}
@media (max-width: 960px){
    .footer_inner{
        width: 100%;
        padding: 0 30px;
    }
}
@media (max-width: 670px){
    .footer_inner{
        width: 100%;
        padding: 10px 30px;
    }
    .footer_inner .footer_nav ul{
        -webkit-box-pack: start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .footer_inner .footer_nav ul li{
        line-height: 30px;
        margin: 0px 20px 0px 0px;
    }
}
@media (max-width: 500px){
    .footer_social{
        position: relative;
        width: 100%;
        -webkit-box-pack: start;
        justify-content: flex-start;
        right: auto;
        left: auto;
        top: auto;
        margin: 16px 0px 0px;
    }
    .footer_social a{
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}
